.app-login{
    position: relative;
    display: block;
    height: 100%;
  }
  
  .app-login h1{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
  }
  .app-login form{
    position: relative;
    transform: translateY(100%);
  }
  
  .app-login #register{
    position: relative;
    width: 100%;  
    margin-top: 25px;
    text-align: center;
  }
  
  .app-login #register #register-link a{
    text-decoration: underline;
    color: rgb(38, 183, 205);
  }
  .app-login form .input{
    display: block;
    margin: auto;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px #d6d1d1 solid;
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .app-login #login-button{
    position: relative;
    padding: 10px;
    display: flex;
    margin-left: 68%;
    color: #1f2124;
    cursor: pointer;
    font-weight: 700;
    border-radius: 20px;
    border:none
  }
  
  .app-login #login-button:hover{
    font-size: 15px;
  }
  
  .app-login #login-button:active{
    background-color: #999;
  }
  