.notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}
#search-input{
  text-align: center;
}
#search-input input{
  color: black;
}
.notes-title,
.notes-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.notes-count {
  font-size: 18px;
  color: var(--color-gray);
}

.notes-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.notes-list-item {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.notes-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.notes-list-item h3,
.notes-list-item p span {
  font-weight: 600;
}

.notes-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.notes-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.floating-button > svg {
  fill: var(--color-bg);
}
